.table-container {
    position: relative;
    max-width: 100%;
    max-height: 730px;
}

table {

    border: 1px solid black;
    border-spacing: 0;
    width: 100%;

}

th,
td {
    text-align: center;
    padding: 0.5rem;
    position: relative;
}

th {

    border: 1px solid rgba(255, 255, 255, 0.611);
    max-height: 50px;
    min-width: 100px;

}

tbody tr:nth-child(even) {
    background-color: rgba(26, 30, 29, 0.675);
}

.icon-trash {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

/* Primera columna de la tabla */
th:first-child,
td:first-child {
    color: aliceblue;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: rgba(15, 16, 17, 0.81);
    backdrop-filter: blur(20px);
}

.agregar-rol {
    cursor: pointer;
}

.flex-input {
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
    text-align: center;
    line-height: 20px;
    background-color: #808080;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #A9A9A9;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

thead {
    z-index: 4;
    position: sticky;
    top: 0;
    background-color: rgb(22, 21, 21);
    color: aliceblue;
}

tfoot {
    position: sticky;
    bottom: 0;
    background-color: rgb(22, 21, 21);
    color: aliceblue;
    z-index: 4;
}

th input[type="checkbox"] {
    opacity: 0;

    pointer-events: none;
    /* Para que no afecte a los eventos del mouse */
}

td input[type="checkbox"] {
    opacity: 0;

    pointer-events: none;
    /* Para que no afecte a los eventos del mouse */
}

th:hover input[type="checkbox"] {
    opacity: 1;
    pointer-events: auto;
    /* Habilita los eventos del mouse durante el hover */
}

td:hover input[type="checkbox"] {
    opacity: 1;
    pointer-events: auto;
    /* Habilita los eventos del mouse durante el hover */
}

.check-nombre {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}